<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>All Flats</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>These are the flats we found for you</p>
    </div>
  </div>
<div class="row">
  <% @flats.first(3).each do |flat| %>
    <div class="col-4">
      <div class="flat-card">
        <div class="flat-card-image" style="background-image: url('https://source.unsplash.com/random')"></div>
        <div class="flat-card-content">
          <div class="flat-card-title">
            <h4><%= flat.name %></h4>
          </div>
          <p><%= flat.address %></p>
          <div class="flex">
            <div class="flex">
              <i class="material-icons mr-2">people</i><%= flat.number_of_guests %><span></span>
            </div>
            <div class="flex ml-3">
              <i class="material-icons mr-2"></i>$ <%= flat.price_per_night %>
            </div>
          </div>
        </div>
        <div class="flat-card-actions">
          <%= link_to 'More info', flat %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



</div>
